[Unit]
Description=Poll AOP PROD infrastructure from SPHERE DEV every 5 minutes
[Timer]
OnBootSec=110s
OnUnitActiveSec=5min
Unit=sphere-rundeck-infra-aop-prod-test.service
[Install]
WantedBy=timers.target
